@media (max-width:991px) {
    html{
        font-size: 55%;
       
    }
    body{
        padding-right:0 ;
    }
  
    header{
        width: 100%;
        left: -120%;
    }
    
    header.active{
        left: 0%;

    }

    #menu-bars{
        display: initial;
    }
    header .navbar{
        writing-mode: horizontal-tb; /*الكلام بالعرض*/
        /* padding: 1.5rem; */
      
     }
     header .navbar a{
      display: block;
      font-size: 3rem;
     }
     section{
        padding: 2rem;
     }
}

@media (max-width:450px) {
    html{
        font-size: 50%;
       
    }
    .heading{
         font-size: 4rem;
    }
    .about .row .content h3{
        font-size: 3rem;
    }

    .contact .row form .inputBox input{
        width: 100%;
    }
}